<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td{
  width:100px ;
  height: 100px;
}
</style>

<h1>Map Below There </h1>

<table id="tableID3">
  <tr>
    <td>Coordinate</td>
    <td>a</td>
    <td>b</td> 
    <td>c</td>
    <td>d</td>
    <td>e</td> 
    <td>f</td>
    <td>g</td>
    <td>h</td> 
    <td>i</td>
  </tr>

  <tr>
    <td>1</td>
    <td>a1</td>
    <td>b1</td> 
    <td>c1</td>
    <td>d1</td>
    <td>e1</td> 
    <td>f1</td>
    <td>g1</td>
    <td>h1</td> 
    <td>i1</td>
  </tr>

  <tr>
    <td>2</td>
    <td>a2</td>
    <td>b2</td> 
    <td>c2</td>
    <td>d2</td>
    <td>e2</td> 
    <td>f2</td>
    <td>g2</td>
    <td>h2</td> 
    <td>i2</td>
  </tr>

  <tr>
    <td>3</td>
    <td>a3</td>
    <td>b3</td> 
    <td>c3</td>
    <td>d3</td>
    <td>e3</td> 
    <td>f3</td>
    <td>g3</td>
    <td>h3</td> 
    <td>i3</td>
  </tr>

  <tr>
    <td>4</td>
    <td>a4</td>
    <td>b4</td> 
    <td>c4</td>
    <td>d4</td>
    <td>e4</td> 
    <td>f4</td>
    <td>g4</td>
    <td>h4</td> 
    <td>i4</td>
  </tr>

  <tr>
    <td>5</td>
    <td>a5</td>
    <td>b5</td> 
    <td>c5</td>
    <td>d5</td>
    <td>e5</td> 
    <td>f5</td>
    <td>g5</td>
    <td>h5</td> 
    <td>i5</td>
  </tr>

  <tr>
    <td>6</td>
    <td>a6</td>
    <td>b6</td> 
    <td>c6</td>
    <td>d6</td>
    <td>e6</td> 
    <td>f6</td>
    <td>g6</td>
    <td>h6</td> 
    <td>i6</td>
  </tr>

  <tr>
    <td>7</td>
    <td>a7</td>
    <td>b7</td> 
    <td>c7</td>
    <td>d7</td>
    <td>e7</td> 
    <td>f7</td>
    <td>g7</td>
    <td>h7</td> 
    <td>i7</td>
  </tr>

  <tr>
    <td>8</td>
    <td>a8</td>
    <td>b8</td> 
    <td>c8</td>
    <td>d8</td>
    <td>e8</td> 
    <td>f8</td>
    <td>g8</td>
    <td>h8</td> 
    <td>i8</td>
  </tr>

  <tr>
    <td>9</td>
    <td>a9</td>
    <td>b9</td> 
    <td>c9</td>
    <td>d9</td>
    <td>e9</td> 
    <td>f9</td>
    <td>g9</td>
    <td>h9</td> 
    <td>i9</td>
  </tr>

</table>

<p><%= link_to 'View all of Your Robots', templates_path %></p>

<script>


var tdList = document.getElementsByTagName("td");

for (var i=0; i<tdList.length; i++){
    <% @templates.each do |template| %>
        if(tdList[i].innerHTML== "<%=template.coordinate%>"){
            tdList[i].innerHTML="<p>Location: </p><%= template.coordinate%><p>Owner: <%= template.user.name%> </p><p><%=template.title%></p>";
        }
    <% end %>
    if(tdList[i].innerHTML.split('<p>Owner: ').pop().split(' </p>').shift()=="<%= current_user[:name] %>"){
        tdList[i].style.backgroundColor = "#d8eac5";
    }

}



</script>